*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: max-content;
}

:root{
    --text-primary-color : #2b2d42;
    --text-secondary-color : #edf2f4;
    --btn-bg-color : #F7455B;
    --btn-bg-hover : #ef233c;
    --secondary-color : #8d99ae;
    --extra-dark-color : #d90429; 
}

.wrapper{
    width: 100%;
    padding: 0 50px;
    overflow-x: hidden;
}

/* Navbar */

.navbar{
    width: 100%;
    height: 60px;
    background-color: var(--secondary-color);
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.1rem;
}

.left{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.left p{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
}

.right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn li{
    list-style: none;
}

.nav-btn li a{
    list-style: none;
    color: var(--text-secondary-color);
    text-decoration: none;
}

.nav-btn li a:hover{
    color: var(--text-primary-color);
}

/*  Hero Section */
.hero-section{
    width: 100%;
    height: calc(100vh - 60px);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0;
}

.left-hero-section{
    z-index: 1;
}

.left-hero-section h1{
    font-size:3rem;
    text-shadow: 5px 5px #decfcf;
}

.left-hero-section strong{
    font-size:25px;
}

.btn{
    background-color: var(--btn-bg-color);
    position: relative;
    width:fit-content;
    color:var(--text-secondary-color);
    padding:0.6rem 1.8rem;
    margin-top:2rem; 
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size:1rem;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 1px transparent;  
    z-index: 1;
    border-radius: 24px;
}
.btn::before{
    content:"";
    background-color: var(--text-secondary-color);
    position:absolute;
    top:0px;
    bottom:0px;
    right: 0;
    left:0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
    border-radius: 24px;
    
}
.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover{
    color:var(--text-primary-color);
    border: solid 3px var(--btn-bg-hover);
    border: none;
}

#hero-right-img{
    width: 45rem;
    transform: translateX(200px) translateY(-80px);
    transition: all 1.5s ease-out;
}

#hero-right-img:hover{
    width: 45rem;
    transform: translateX(-5px) scale(1.1);
}

/* Testimonial */

.testimonial{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-cart-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-cart{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}

.profile-img img{
    width: 5rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    height: 42rem;
    background-color: var(--White);
    padding: 6rem;
  }
  
  .clients {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
  }
  
  .client-heading{
     color: var(--Dark-grayish-blue);
     font-size: 1.2rem;
     font-family: "Fraunces", serif;
     word-spacing: .6rem;
  }
  
  .client-img{
     border-radius: 100%;
     width: 5rem;
  }
  
  .client-description{
     font-size: 1rem;
     color: var(--Very-dark-grayish-blue);
  }
  
  .client-name{
     font-size: 1.4rem;
     color: var(--Very-dark-blue);
     font-family: 'Fraunces', serif;
  }
  
  .client-occupation{
     font-size: 0.8rem;
     color: var(--Dark-grayish-blue);
  }
  
  .client{
    width: 33.33%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }